<ion-header>
  <ion-toolbar  color='success'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Memoria un</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>
  <ion-item *ngFor="let lugar of lugares;let i = 'lugares' " [routerLink]="['/places',lugar.id]">
    <ion-icon slot="start" [ios]="lugar.imagenURL + '-outline'" [md]="lugar.imagenURL + '-sharp'"></ion-icon>
    <ion-label>{{lugar.titulo}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>

