<ion-header>
  <ion-toolbar color='success'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "/place-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>{{descrip.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card>
   <ion-img [src]="descrip.imagenURL"></ion-img>
    <ion-card-content>
      <ion-card-title> {{descrip.Nombre}} {{descrip.id}}</ion-card-title>
      <p>{{descrip.Historia}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
