
  ion-content.background {
       --background: linear-gradient(to top, #4cbb5e 0%, #fff 60%);     
       --text-align: center ; 
    }

.center {
        display: block;
        margin: auto;
        width: 50%;
    }

img{
    margin-top:30px;   
}

